<!-- Google tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-6RHK84SZXW"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  {{ if .Site.IsServer -}}
  gtag('consent', 'default', {
    'ad_storage': 'denied',
    'analytics_storage': 'denied',
    'functionality_storage': 'denied',
    'personalization_storage': 'denied',
    'security_storage': 'denied',
  });
  gtag('config', 'G-6RHK84SZXW', {
    'traffic_type': 'internal',
    'debug_mode': true  
  });
  {{- else -}}
  gtag('consent', 'default', {
  'ad_storage': 'denied',
  'analytics_storage': 'denied',
  'functionality_storage': 'denied',
  'personalization_storage': 'denied',
  'security_storage': 'denied',
  });
  gtag('config', 'G-6RHK84SZXW', {
  });
  {{- end -}}
</script>

<!-- Cookie banner by termly.io-->
<script type="text/javascript" src="https://app.termly.io/embed.min.js" data-auto-block="off" data-website-uuid="06758b0e-d0e7-4bad-8d11-2955df412dd4"></script>
<!--Functions to update consent after interacting with the banner-->
<script>
function getUpdatedCookieWhitelistByTermly(data) {
    // Reset defaults on every cookie whitelist change from Termly
    gtag('consent', 'update', {
      'ad_storage': 'denied',
      'analytics_storage': 'denied',
      'functionality_storage': 'denied',
      'personalization_storage': 'denied',
      'security_storage': 'denied',
    });
  
    if(data.categories.includes("analytics")) {
      gtag('consent', 'update', {
        'analytics_storage': 'granted'
      });
    }
    if(data.categories.includes("advertising")) {
      gtag('consent', 'update', {
        'ad_storage': 'granted'
      });
    }
    if(data.categories.includes("performance")) {
      gtag('consent', 'update', {
        'functionality_storage': 'granted',
        'personalization_storage': 'granted'
      });
    }
    if(data.categories.includes("essential")) {
      gtag('consent', 'update', {
        'security_storage': 'granted'
      });
    }
  }
</script>